@charset "utf-8";

/*@media screen and (min-width: 500px) {
	
	body {
		background-color: maroon;
		
		
	}
		
}
*/
@media screen and (max-width:767px) and (-webkit-min-device-pixel-ratio: 1) {
	*{
		padding: 3px;
	}
	header{
		height:auto;
	}
	#logo{
		font-size:2.1em;
		text-align:center;
	}
	#servico {
		float:none;
		height:auto;
	}

	.teste{
		width:45.1%;
		float:left;
		height:auto;
	}
	.plan{
		float:none;
		height:auto;
		width:100%;
	}
	body{
		font-size:1.1em;
		overflow-x:hidden;
		
	}
	
	#principal{
		height:auto;
		float:none;
		width:100%;
		font-size:0.7em;
	}
	
	 #contato h1{
		 height:auto;
		 text-align:center;
	 }
	 footer{
		 height:auto;
	 }
	#maps{
		width:50%;
		opacity:0.8;
		height:auto;
	}
	
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
		position:fixed;
		z-index:1000;
	}
	
}

	

